# these are used as the directories of the original db when running in container
MQQC_DB_PATH=''
MQQC_DB_PATH_2=''
METADATA_DB_PATH=''

META_DB_NAME_E=Metadata.pruned.sqlite
MQQC_DB_NAME_E1=list_collect.pruned.sqlite
MQQC_DB_NAME_E2=''

# location databases in container
# In local dev mode, these are used as the watched directories
META_DB_DIR_CONTAINER=./TestData
MQQC_DB1_DIR_CONTAINER=./TestData
MQQC_DB2_DIR_CONTAINER=./TestData

META_DB_NAME=Metadata_testcopy.sqlite
MQQC_DB_NAME_I1=list_collect_testcopy_1.sqlite
MQQC_DB_NAME_I2=''
MERGED_DB_NAME=mergedDB.db




